@font-face {
  font-family: "interstate";
  src: url("http://fast.wistia.com/fonts/interstate-light/interstate-light.eot");
  src: url("http://fast.wistia.com/fonts/interstate-light/interstate-light.eot?#iefix") format("embedded-opentype"), url("http://fast.wistia.com/fonts/interstate-light/interstate-light.woff") format("woff"), url("http://fast.wistia.com/fonts/interstate-light/interstate-light.ttf") format("truetype"), url("http://fast.wistia.com/fonts/interstate-light/interstate-light.svg#interstate-light") format("svg");
  font-weight: 400; }

@font-face {
  font-family: "interstate";
  src: url("http://fast.wistia.com/fonts/interstate-regular/interstate-regular.eot");
  src: url("http://fast.wistia.com/fonts/interstate-regular/interstate-regular.eot?#iefix") format("embedded-opentype"), url("http://fast.wistia.com/fonts/interstate-regular/interstate-regular.woff") format("woff"), url("http://fast.wistia.com/fonts/interstate-regular/interstate-regular.ttf") format("truetype"), url("http://fast.wistia.com/fonts/interstate-regular/interstate-regular.svg#interstate-regular") format("svg");
  font-weight: 700; }

@font-face {
  font-family: "interstate";
  src: url("http://fast.wistia.com/fonts/interstate-bold/interstate-bold.eot");
  src: url("http://fast.wistia.com/fonts/interstate-bold/interstate-bold.eot?#iefix") format("embedded-opentype"), url("http://fast.wistia.com/fonts/interstate-bold/interstate-bold.woff") format("woff"), url("http://fast.wistia.com/fonts/interstate-bold/interstate-bold.ttf") format("truetype"), url("http://fast.wistia.com/fonts/interstate-bold/interstate-bold.svg#interstate-bold") format("svg");
  font-weight: 900; }

@font-face {
  font-family: "interstate";
  src: url("http://fast.wistia.com/fonts/interstate-light-italic/interstate-lightitalic.eot");
  src: url("http://fast.wistia.com/fonts/interstate-light-italic/interstate-lightitalic.eot?#iefix") format("embedded-opentype"), url("http://fast.wistia.com/fonts/interstate-light-italic/interstate-lightitalic.woff") format("woff"), url("http://fast.wistia.com/fonts/interstate-light-italic/interstate-lightitalic.ttf") format("truetype"), url("http://fast.wistia.com/fonts/interstate-light-italic/interstate-lightitalic.svg#interstate-lightitalic") format("svg");
  font-style: italic; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-35.eot?#iefix");
  src: url("../fonts/avenir/avenir-35.eot?#iefix") format("eot"), url("../fonts/avenir/avenir-35.woff") format("woff"), url("../fonts/avenir/avenir-35.ttf") format("truetype"), url("../fonts/avenir/avenir-35.svg#Avenir-35") format("svg");
  font-weight: 200; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-35-oblique.eot?#iefix");
  src: url("../fonts/avenir/avenir-35-oblique.eot?#iefix") format("eot"), url("../fonts/avenir/avenir-35-oblique.woff") format("woff"), url("../fonts/avenir/avenir-35-oblique.ttf") format("truetype"), url("../fonts/avenir/avenir-35-oblique.svg#avenir-35-oblique") format("svg");
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-45.eot?#iefix");
  src: url("../fonts/avenir/avenir-45.eot?#iefix") format("eot"), url("../fonts/avenir/avenir-45.woff") format("woff"), url("../fonts/avenir/avenir-45.ttf") format("truetype"), url("../fonts/avenir/avenir-45.svg#avenir-45") format("svg");
  font-weight: 400; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-65.eot?#iefix");
  src: url("../fonts/avenir/avenir-65.eot?#iefix") format("eot"), url("../fonts/avenir/avenir-65.woff") format("woff"), url("../fonts/avenir/avenir-65.ttf") format("truetype"), url("../fonts/avenir/avenir-65.svg#avenir-65") format("svg");
  font-weight: 500; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/avenir-85.eot?#iefix");
  src: url("../fonts/avenir/avenir-85.eot?#iefix") format("eot"), url("../fonts/avenir/avenir-85.woff") format("woff"), url("../fonts/avenir/avenir-85.ttf") format("truetype"), url("../fonts/avenir/avenir-85.svg#avenir-85") format("svg");
  font-weight: 700; }
  

html {
  height: 100%;
}

body {
  background: #f7f6f4;
  color: #404040;
  font-family: Avenir, Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
  margin: 0;
}
h1 strong {
  font-weight: 900;
}

a {
  color: #3498ea;
  text-decoration: none;
}
a:hover {
  color: #54b8ff;
}

textarea, input {
  border: 1px dotted #a5a5a5;
  font-family: Interstate, Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  outline: 0;
  padding: 6px 8px;
}

textarea.example, input.example {
  color: #ccc;
}

#nonfooter {
  position: relative;
}

#body {
  height: 100%;
}

#left_gutter {
  background: #f1eeea;
  border-top: 5px solid #cbcfd4;
  width: 0;
}

#right_gutter {
  background: #f7f6f4;
  border-top: 5px solid #cbcfd4;
  width: 0;
}

#footerpad {
  height: 0;
  padding-bottom: 0;
  font-size: 0;
  line-height: 0;
}

* html #nonfooter {
  height: 100%;
}

#footer {
  clear: both;
  height: 0;
  background: white;
  margin-top: 0;
}

.button, button {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
  background-color: #e9e7e4;
  border: 3px solid #d5d4d2;
  color: #666666;
  cursor: pointer;
  font-family: Interstate, Arial, sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  margin: 1px 0;
  overflow: hidden;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle; }
  .button:hover, .button.hover, button:hover, button.hover {
    background-color: #e4e2de;
    border-color: #d1d0cd;
    color: #888888; }
  .button:active, .button.active, button:active, button.active {
    background-color: #dedcda;
    border-color: #d1d0cd;
    color: #777777; }

a.lightbutton, button.light {
  background-color: #f1efeb;
  border-color: #e5e4e2;
  color: #aaaaaa; }
  a.lightbutton:hover, a.lightbutton.hover, button.light:hover, button.light.hover {
    background-color: #edebe9;
    border-color: #d5d4d2;
    color: #888888; }
  a.lightbutton:active, a.lightbutton.active, button.light:active, button.light.active {
    background-color: #eae9e5;
    border-color: #c5c4c2;
    color: #777777; }

a.darkbutton, button.dark {
  background-color: #e9e7e4;
  border-color: #d5d4d2;
  color: #999999; }
  a.darkbutton:hover, a.darkbutton.hover, button.dark:hover, button.dark.hover {
    background-color: #e4e2de;
    border-color: #d4d2ce;
    color: #888888; }
  a.darkbutton:active, a.darkbutton.active, button.dark:active, button.dark.active {
    background-color: #dedcda;
    border-color: #d1d0cd;
    color: #777777; }

.positive:hover, button.positive:hover, .positive.hover, button.positive.hover, .positive.selected, button.positive.selected {
  background-color: #dff1a9;
  border-color: #c3e16a;
  color: #7fa827; }

.positive:active, button.positive:active, .positive.active, button.positive.active, .positive.selected, button.positive.selected {
  border-color: #b3d15a; }

.negative, button.negative {
  background-color: #f1efeb;
  border-color: #e5e4e2;
  color: #aaaaaa; }

.negative:hover, button.negative:hover, .negative.hover, button.negative.hover {
  background-color: #ffcda8;
  border-color: #e7a87a;
  color: #ba614a; }

.negative:active, button.negative:active, .negative.active, button.negative.active {
  border-color: #d7986a; }

.disabled, .disabled:hover, .disabled:active, .disabled.hover, .disabled.active {
  border-color: #c8c2b7;
  background-color: #f1efeb;
  color: #777777; }

.jamjar {
  color: #666666;
  font-family: Interstate, Helvetica, Arial, sans-serif;
  margin-bottom: 18px;
}

.jamjar_head {
  background: #56ADF8;
  color: white;
  position: relative; }

.jamjar_title {
  background: transparent url(http://fast.wistia.com/images/zebra/elements/expanded_arrow_white.gif) no-repeat 12px 17px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 10px 10px 31px; }

.jamjar_help {
  background: url(http://fast.wistia.com/images/zebra/elements/questionhelp_light.png);
  cursor: pointer;
  display: inline-block;
  *display: inline;
  height: 26px;
  opacity: 0.5;
  position: absolute;
  right: 10px;
  text-indent: -99999em;
  top: 8px;
  vertical-align: top;
  width: 26px;
  zoom: 1; }
  .jamjar_help:hover {
    opacity: 1; }

.jamjar_subhead {
  padding: 8px 10px 8px 31px; }

.jamjar_body {
  background: white;
  font-size: 14px;
  padding: 18px; }

.jamjar_foot {
  background: #469DE8;
  font-size: 0;
  height: 5px;
  line-height: 0; }

.jamjar_closed .jamjar_title {
  background-image: url(http://fast.wistia.com/images/zebra/elements/collapsed_arrow_white.gif);
  background-position: 15px 15px; }
.jamjar_closed .jamjar_subhead {
  display: none; }
.jamjar_closed .jamjar_body {
  display: none; }

.jamjar_no_control .jamjar_title {
  background-image: none;
  cursor: default;
  padding-left: 10px; }

.cols {
  white-space: nowrap;
}
.col {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  white-space: normal;
  zoom: 1;
}

.col1 {
  color: #696969;
  min-height: 100%;
  padding: 30px;
  position: relative;
  width: 306px;
}

.col2 {
  padding: 30px;
}

.webinar_link_wrapper {
  background-color: #0e7ac4;
}

.webinar_link {
  padding-left: 60px;
}

.white_arrow {
  background: transparent url("/labs/images/white_arrow.png") no-repeat 10% 10%;
  display: inline-block;
  margin: 0 4px -2px 0;
  height: 16px;
  width: 18px;
}

.webinar_link p {
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
  text-align: left;
  color: white;
}

.webinar_link a {
  color: yellow;
}

#lab_header {
  background: #fff;
  color: #363947;
  font-size: 17px;
}
#lab_header .col {
  background: transparent;
  padding: 0;
}
#lab_header .col1 {
  padding: 30px 0;
  text-align: center;
  width: 213px;
}
#lab_header .col2 {
  line-height: 1.7em;
  padding: 30px 0 30px 30px;
  width: 700px;
}
#lab_header h1 {
  font-size: 22px;
  font-weight: bold;
}

#configure_col {
  background: #eceef1;
  border-top: 5px solid #cbcfd4;
  min-height: 1200px;
}
#preview_col {
  background: #f5f7fa;
  border-top: 5px solid #2478bd;
  min-height: 1200px;
}

h1 {
  font-weight: normal;
  margin-top: 0;
}

.lab_logo {
  height: 98px;
  margin-bottom: 15px;
  vertical-align: top;
  width: 94px;
}

.back_to_labs {
  color: #363947;
  display: block;
  font-size: 20px;
}
.back_to_labs:hover {
  color: #2c2c2c;
}
.back_to_labs .arrow {
  background: url(../images/arrow.png);
  display: inline-block;
  *display: inline;
  height: 16px;
  text-indent: -99999em;
  position: relative;
  top: 2px;
  vertical-align: top;
  width: 18px;
  zoom: 1;
}
.back_to_labs:hover .arrow {
  background-position: 0 -16px;
}
.back_to_labs .text {
  display: block;
}

.checkbox_field_pair {
  margin-bottom: 10px;
}
.checkbox_field_pair.last {
  margin-bottom: 0;
}

#output_embed_code {
  font-family: Courier;
  font-size: 13px;
  height: 112px;
  width: 585px;
}

#placeholder_preview {
  border: 1px dotted #a5a5a5;
  height: 350px;
  line-height: 360px;
  text-align: center;
  width: 600px;
}

#results label {
  display: block;
  margin: 1em 0;
}

#alert {
  width: 600px;
}

#configure .timeat_entry {
  border: 1px dotted #a5a5a5;
  display: inline-block;
  *display: inline;
  padding: 4px 8px;
  vertical-align: top;
  zoom: 1;
}

#configure .timeat_entry input {
  padding: 0;
}

#configure .timeat_entry .minutes {
  border: 0;
  text-align: right;
  width: 28px;
}

#configure .timeat_entry .seconds {
  border: 0;
  text-align: left;
  width: 22px;
}

#configure .timeat_entry .sep {
  font-weight: bold;
  margin: 0 2px;
}

.outer_container {
  text-align: center;
}

.inner_container {
  margin: 0 auto;
  text-align: left;
  width: 970px;
}

.jamjar1 .jamjar_head {
  background: #7c858e !important;
}

.jamjar1 .jamjar_foot {
  background: #6d757d !important;
}

.jamjar3 .jamjar_head {
  background: #cbd0d6 !important;
}

.jamjar3 .jamjar_foot {
  background: #bbbfc5 !important;
}

.jamjar2 .jamjar_head {
  background: #9ea7b1 !important;
}

.jamjar2 .jamjar_foot {
  background: #8f97a0 !important;
}

