body {
  background: #fff;
  overflow-x: hidden;
}

#lab_header {
  font-size: 28px;
  font-weight: normal;
  line-height: 1.6em;
}

#configure_col {
  background: #fff;
  width: 140px;
}

#preview_col {
  background: #fff;
  border-left: 1px solid #dcdee2;
  padding: 0;
  width: 948px;
}

#resources {
  color: #363947;
}

#resources ul, #resources li, #all_labs ul, #all_labs li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#resources h3 {
  text-transform: uppercase;
}

#resources a {
  color: #363947;
  line-height: 1.5em;
}

#resources a:hover {
  color: #565967;
}

#all_labs li {
  display: inline-block;
  *display: inline;
  font-size: 18px;
  padding: 60px;
  vertical-align: top;
  zoom: 1;
}

#all_labs li:hover {
  background-color: #ebedf0;
  cursor: pointer;
}

#all_labs li .col1 {
  padding: 0 60px 0 0;
  width: 94px;
}

#all_labs li .col2 {
  padding: 0;
  width: 200px;
}

#all_labs h3 {
  font-size: 22px;
  margin-top: 0;
}
#all_labs p {
  margin-bottom: 0;
}
