.paste_embed_code .jamjar_head {
  background-color: #55C6FF;
}

.paste_embed_code .jamjar_foot {
  background-color: #45B6FF;
}

.another-section .jamjar_head {
  background-color: #0092D1;
}

.another-section .jamjar_foot {
  background-color: #0082C1;
}

#source_embed_code {
  height: 112px;
  width: 250px;
}

#configure input[type=text] {
  width: 250px;
}


@font-face {
  font-family: 'wistia-icons';
  src: url('http://fast.wistia.com/assets/fonts/wistia-icons.eot');
  src: url('http://fast.wistia.com/assets/fonts/wistia-icons.eot?#iefix') format('embedded-opentype'),
  url('http://fast.wistia.com/assets/fonts/wistia-icons.svg#wistia-icons') format('svg'),
  url('http://fast.wistia.com/assets/fonts/wistia-icons.woff') format('woff'),
  url('http://fast.wistia.com/assets/fonts/wistia-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: 'wistia-icons';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.icon-users:before { content: "\e000"; }
.icon-user:before { content: "\e001"; }
.icon-embed:before { content: "\e002"; }
.icon-link:before { content: "\e003"; }
.icon-cancel:before { content: "\e004"; }
.icon-plus:before { content: "\e005"; }
.icon-download:before { content: "\e006"; }
.icon-upload:before { content: "\e007"; }
.icon-stats:before { content: "\e008"; }
.icon-twitter:before { content: "\e009"; }
.icon-facebook:before { content: "\e00a"; }
.icon-suit:before { content: "\e00b"; }
.icon-add-user:before { content: "\e00c"; }
.icon-lock:before { content: "\e00e"; }
.icon-unlock:before { content: "\e00f"; }

#timings input.slide {
  text-align: right;
  width: 100px;
}

#timings tr.selected input, 
#timings tr.selected div.timeat_entry,
#timings tr.selected div.timeat_entry input {
  background: #ffe4d4;
}
.timings_jar a {
  color: #f19a60;
}
.timings_jar a:hover {
  color: #e48b50;
}

#configure .timeat_entry input {
  padding: 0;
}

#configure .timeat_entry .minutes {
  border: 0;
  text-align: right;
  width: 60px;
}

#configure .timeat_entry .seconds {
  border: 0;
  text-align: left;
  width: 22px;
}

#configure .timeat_entry .sep {
  font-weight: bold;
  margin: 0 2px;
}

.controls {
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
span.separator {
  color: #ccc;
  margin: 0 10px;
}

a.button {
  display: inline-block;
  background: #f19a60;
  color: white;
  padding: 6px 10px;
  text-transform: uppercase;
}
a.button:hover {
  background: #e48b50;
  color: white;
}
#next_slide {
  margin: 10px 0;
}

a.button.disabled, a.button.disabled:hover {
  background: #ccc;
}

#fixed_toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

h1 {
#  background: url('speakerdeck_logo.png') no-repeat left center;
#  padding-left: 70px;
}

.paste_embed_code .jamjar_head { background: #e0829c; }
.paste_embed_code .jamjar_foot { background: #d7708c; }

.presentation_jar .jamjar_head { background: #ee8377; }
.presentation_jar .jamjar_foot { background: #d7776b; }

.timings_jar .jamjar_head { background: #f19a60; }
.timings_jar .jamjar_foot { background: #e48b50; }

#header .clear { display: none; }
#header p { 
  font-size: 18px; 
  margin: 0 0 10px 0;
}

#preview_col {
  border-top-color: #f17598;
}
