.paste_embed_code .jamjar_head {
  background-color: #b1d460;
}

.paste_embed_code .jamjar_foot {
  background-color: #9dbb55;
}

.setup .jamjar_head {
  background-color: #eddd4c;
}

.setup .jamjar_foot {
  background-color: #e6cf00;
}

.chapters .jamjar_head {
  background-color: #f7c631;
}

.chapters .jamjar_foot {
  background-color: #edb200;
}

#source_embed_code {
  height: 112px;
  width: 250px;
}

#configure .chapter_title_input {
  width: 142px;
}

#configure .chapter_time_input {
  width: 50px;
}

#configure input[type=submit] {
  width: 268px;
}
