.mode_switcher .jamjar_head {
  background-color: #428ebd;
}

.mode_switcher .jamjar_foot {
  background-color: #177ebd;
}

.paste-embed-code .jamjar_head {
  background-color: #375c9d;
}

.paste-embed-code .jamjar_foot {
  background-color: #1f4d9d;
}

#source_embed_code {
  height: 112px;
  width: 250px;
}

#configure input[type=text] {
  width: 250px;
}

#event_notifications {
  margin-top: 1em;
}
