.mode_switcher .jamjar_head {
  background-color: #47a6d6;
}

.mode_switcher .jamjar_foot {
  background-color: #2996cc;
}

.paste_embed_code .jamjar_head {
  background-color: #3b70ba;
}

.paste_embed_code .jamjar_foot {
  background-color: #245fb3;
}

.instructions .jamjar_head {
  background-color: #363c99;
}

.instructions .jamjar_foot {
  background-color: #292e80;
}

#source_embed_code {
  height: 112px;
  width: 250px;
}

#configure input[type=text] {
  width: 250px;
}

#event_notifications {
  margin-top: 1em;
}

#preview_col {
  border-top-color: #4fa6dc;
}
