.paste_embed_code .jamjar_head {
  background-color: #faa927;
}

.paste_embed_code .jamjar_foot {
  background-color: #f29807;
}

.wlov-placement-section .jamjar_head {
  background-color: #ff793b;
}

.wlov-placement-section .jamjar_foot {
  background-color: #f66c2c;
}

.wlov-settings-section .jamjar_head {
  background-color: #ff933b;
}

.wlov-settings-section .jamjar_foot {
  background-color: #f68527;
}

#source_embed_code {
  height: 112px;
  width: 250px;
}

#configure input[type=text] {
  width: 250px;
}

#wlov-grid {
  width: 240px;
  /* min-height: 100px; */
  margin: 4px auto 4px auto;
  border: 1px solid #204a87;
  background-color: #729fcf;
}

.wlov-grid-item {
  background-color: #ad7fa8;
  position: relative;
}

.wlov-grid-item-selected {
  background-color: #2e3436;
  border-color: #3465a4;
  top: 0px;
  left: 0px;
}

.minimap-object {
  background-color: rgba(46, 52, 54, 0.3);
  border-radius: 4px;
}

.logo_offset_container {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 32px;
}

.logo_coord_label {
  width: 96px;
  margin: 8px 12px 0px 16px;
  float: left;
  text-align: right;
}

.logo_pos_label {
  width: 96px;
  margin: 8px 12px 0px 16px;
  float: left;
  text-align: right;
}

.logo_slider_container {
  height: 32px;
}

.logo_slider {
  margin-top: 8px;
  float: right;
  width: 200px;
}

input#logo_opacity, input#logo_hover_opacity, input#logo_x_offset, input#logo_y_offset {
  width: 40px !important;
  float: left !important;
  display: inline-block !important;
}

input#logo_x_offset, input#logo_y_offset {
  width: 32px !important;
}
input#logo_x_offset {
  margin-right: 14px;
}

input#logo_pos {
  width: 96px !important;
}

.ui-slider-range {
  /*
  background-color: #204a87;
  background-image: none;
  */
}

