.paste_embed_code .jamjar_head {
  background-color: #55C6FF;
}

.paste_embed_code .jamjar_foot {
  background-color: #45B6FF;
}

.another-section .jamjar_head {
  background-color: #0092D1;
}

.another-section .jamjar_foot {
  background-color: #0082C1;
}

#source_embed_code {
  height: 112px;
  width: 250px;
}

#configure input[type=text] {
  width: 250px;
}

.wlov-grid {
  width: 250px;
  height: 155px;
  border: 1px solid black;
}

.wlov-grid-item {
  background-color: '#ad7fa8';
  position: relative;
  height: 59px;
  width: 95px;
}

.wlov-grid-ti { border-right: 1px dotted #3465a4; border-bottom: 1px dotted #3465a4; }
.wlov-grid-ri { border-left:  1px dotted #3465a4; border-bottom: 1px dotted #3465a4; }
.wlov-grid-bi { border-left:  1px dotted #3465a4; border-top:    1px dotted #3465a4; }
.wlov-grid-li { border-right: 1px dotted #3465a4; border-top:    1px dotted #3465a4; }
